<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" class="no-js ie6 lt-ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="true"/>

  <link rel="icon" type="image/png" href="/static-assets/img/favicon-32x32.png?v=1" sizes="32x32" />
  <link rel="icon" type="image/png" href="/static-assets/img/favicon-16x16.png?v=1" sizes="16x16" />

  <title>{{ domainToLookup }}'s ENS profile & NFT collection | Eth.xyz</title>

  <meta name="description" content="View the ENS profile and NFTs for {{ domainToLookup }}. Shareable in any browser with the URL {{ domainBeingAccessed }}. This feature is open for all .eth names.">
  <meta name="keywords" content="{{ domainToLookup }}, {{ domainBeingAccessed }}, eth.xyz, .eth, .eth names, ENS, ethereum name service, .xyz domains">

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ domainBeingAccessed }}" />
  <meta property="og:url" content="https://{{ domainBeingAccessed }}" />
  <meta property="og:title" content="{{ domainToLookup }}'s ENS profile & NFT collection | Eth.xyz" />
  <meta property="og:description" content="View the ENS profile and NFTs for {{ domainToLookup }}. Shareable in any browser with the URL {{ domainBeingAccessed }}. This feature is open for all .eth names.">
  <meta property="og:image" content="https://{{ domainBeingAccessed }}/static-assets/img/social-share-eth-xyz.png?v=1" />

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://{{ domainBeingAccessed }}">
  <meta property="twitter:title" content="{{ domainToLookup }}'s ENS profile & NFT collection | Eth.xyz">
  <meta property="twitter:description" content="View the ENS profile and NFTs for {{ domainToLookup }}. Shareable in any browser with the URL {{ domainBeingAccessed }}. This feature is open for all .eth names.">
  <meta property="twitter:image" content="https://{{ domainBeingAccessed }}/static-assets/img/social-share-eth-xyz.png?v=1" />

  <link rel="canonical" href="https://{{ domainBeingAccessed }}">

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="/static-assets/css/lib/font-awesome/5.15.4/all.min.css"/>

  <link rel="stylesheet" href="/static-assets/css/style.css?v=1.6">


  <!-- FontAwesome JS -->
  <script src="/static-assets/js/lib/font-awesome/5.15.4/all.min.js"></script>

  <!-- Modernizr -->
  <script src="/static-assets/js/lib/modernizr.min.js?v=1.0"></script>


  <script src="//underscorejs.org/underscore-umd-min.js"></script>
  <script src="/static-assets/loader.js?v=1.6"></script>

</head>
<body class="page page__profile">
<header class="profile__header">
  <div class="profile__header--hero"></div>
  <div class="container">
    <div class="profile__header--info">
      <div id="avatar-container" class="profile__avatar">
        <img src="https://metadata.ens.domains/mainnet/avatar/{{ domainToLookup }}" id="profile-avatar" class="profile__avatar--image" alt="Avatar: {{ domainToLookup }}" />
      </div>
      <div class="profile__info">
        <h1 class="profile__name">{{ domainToLookup }}</h1>
        <div id="url-container">
          <p class="profile__url">URL:
            <button class="btn btn-link profile__url--btn" data-value="https://{{domainBeingAccessed}}" onClick="copy(this)">
              <span>https://{{ domainBeingAccessed }}</span><span
                class="btn btn-copy"><i class="far fa-copy"></i></span></button>
            <span class="notification-copied">Copied!</span></p>
        </div>
      </div>
    </div>
    <hr class="section__divider"/>
  </div>
</header>

<section id="loading-container">
  <div class="loading__indicator">
    <div class="loading__text">Loading</div>
  </div>
</section>
<main class="hide">
  <section class="profile__section profile__main collapse">
    <div id="profile-container" class="container">
      <button id="toggle-profile" type="button" aria-label="Expand profile" data-toggle="collapse"
              data-target=".profile__main.collapse" class="btn btn-link section__heading-1">Profile
      </button>
      <div id="profile-entry-container" class="profile__section--content">
      </div>
      <hr class="section__divider"/>
    </div>
  </section>
  <section class="profile__section profile__portfolio collapse">
    <div id="portfolio-container" class="container">
      <button id="toggle-portfolio" type="button" aria-label="Expand portfolio" data-toggle="collapse"
              data-target=".profile__portfolio.collapse" class="btn btn-link section__heading-1">Collection
      </button>
      <div class="profile__section--content">
        <ul id="portfolio-entry-container" class="profile__portfolio--items list-unstyled">

        </ul>
      </div>
      <hr class="section__divider"/>
    </div>
  </section>
  <section class="profile__section profile__addresses collapse">
    <div id="wallet-container" class="container">
      <button id="toggle-wallets" type="button" aria-label="Expand addresses" data-toggle="collapse"
              data-target=".profile__addresses.collapse" class="btn btn-link section__heading-1">Addresses
      </button>
      <div class="profile__section--content">
        <ul id="wallets-entry-container" class="profile__addresses--items list-unstyled">

          <li class="profile__addresses--item">
            <button class="profile__addresses--btn btn btn-link"
                    data-value="Ni1qbypjRiGJbBahs4OCda5MXaMK9X4aiRM9rWi8fqqzvL38k9" onClick="copy(this)">
              <span class="profile__addresses--avatar"
                    style="background-image: url('https://loremflickr.com/320/240/design?lock=12')"></span>
              <span>
                                    <span class="profile__addresses--name">Dogecoin</span>
                                    <span>
                                        <span class="profile__addresses--address"><span
                                            class="profile__addresses--address-text"></span><span
                                            class="btn btn-copy"><i class="far fa-copy"></i></span></span>
                                    </span>
                                </span>
            </button>
            <span class="notification-copied">Copied!</span>
          </li>
          <li class="profile__addresses--item">
            <button class="profile__addresses--btn btn btn-link" id="copyAddress"
                    data-value="el9CnOINPISaSvy58YCUqDPGuYNhAtLmsXU5p0iXEIRmrD5RSd" onClick="copy(this)">
              <span class="profile__addresses--avatar"
                    style="background-image: url('https://loremflickr.com/320/240/design?lock=19')"></span>
              <span>
                  <span class="profile__addresses--name">Ethereum</span>
                  <span>
                      <span class="profile__addresses--address"><span
                          class="profile__addresses--address-text"></span><span class="btn btn-copy"><i
                            class="far fa-copy"></i></span></span>
                  </span>
              </span>
            </button>
            <span class="notification-copied">Copied!</span>
          </li>
        </ul>
      </div>
      <hr class="section__divider"/>
    </div>
  </section>
</main>

<footer class="site-footer">
  <section class="site-footer__section--logos">
    <div class="container">
      <ul class="site-footer__logos list-unstyled">
        <li class="site-footer__logo">
          <a href="https://xyz.xyz/" target="_blank" rel="noreferrer noopener" class="site-footer__logo--link"><img src="/static-assets/img/logos/xyz-logo.svg"
               onerror="this.src='/static-assets/img/logos/xyz-logo.png';this.onerror=null;" alt="XYZ" itemprop="logo"
               class="site-footer__logo--image"></a>
        </li>
        <li class="site-footer__logo">
          <a href="https://ens.domains/" target="_blank" rel="noreferrer noopener" class="site-footer__logo--link"><img src="/static-assets/img/logos/ens-stacked.svg"
               onerror="this.src='/static-assets/img/logos/ens-stacked.png';this.onerror=null;"
               alt="Ethereum Name Service" itemprop="logo" class="site-footer__logo--image"></a>
        </li>
      </ul>
    </div>
  </section>
  <section class="site-footer__section--links">
    <div class="site-footer__questions"><a href="http://eth.xyz/">How do I get my own eth.xyz profile?</a></div>
  </section>
  <section class="site-footer__section--disclaimer">
    <div class="container">
      <hr class="section__divider"/>
      <div class="site-footer__section--disclaimer-text">
        <p>The profile content on this page is automatically generated from publicly available information provided through <a href="https://ens.domains/" target="_blank" rel="noopener noreferrer">ENS</a> and is ultimately controlled by the relevant <a href="https://ens.domains/" target="_blank" rel="noopener noreferrer">ENS</a> user. Nothing on this page implies any endorsement or affiliation between <a href="https://xyz.xyz/" target="_blank" rel="noopener noreferrer">XYZ</a> or <a href="https://ens.domains/" target="_blank" rel="noopener noreferrer">ENS</a> and the person or organization whose profile information appears on this page. This site does not use any third-party trackers.</p>
      </div>
    </div>
  </section>
  <div id="nft-modal-container" class="nft-modal__container invisible-start">
  </div>
</footer>

<script type="text/template" id="template-profile">
  <% if(description != null) { %>
  <div class="profile__bio">
    <p><%= description %></p>
  </div>
  <% } %>
  <div class="profile__social">
    <ul class="profile__social--items list-unstyled">
      <% if(url != null) { %>
      <li class="profile__social--item profile__social--url">
        <span class="profile__social--icon"><i class="fas fa-link"></i></span>
        <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= url %></a>
      </li>
      <% } %>
      <% if(email != null) { %>
      <li class="profile__social--item profile__social--email">
        <span class="profile__social--icon"><i class="far fa-envelope"></i></span>
        <a href="mailto:<%= email %>" target="_blank" rel="noopener noreferrer"><%= email %></a>
      </li>
      <% } %>
      <% if(github != null) { %>
      <li class="profile__social--item profile__social--github">
        <span class="profile__social--icon"><i class="fab fa-github"></i></span>
        <a href="https://github.com/<%= github %>" target="_blank" rel="noopener noreferrer"><%= github %></a>
      </li>
      <% } %>
      <% if(keybase != null) { %>
      <li class="profile__social--item profile__social--keybase">
        <span class="profile__social--icon"><i class="fab fa-keybase"></i></span>
        <a href="https://keybase.io/<%= keybase %>" target="_blank" rel="noopener noreferrer"><%= keybase %></a>
      </li>
      <% } %>
      <% if(linkedin != null) { %>
      <li class="profile__social--item profile__social--linkedin">
        <span class="profile__social--icon"><i class="fab fa-linkedin"></i></span>
        <a href="https://www.linkedin.com/in/<%= linkedin %>" target="_blank" rel="noopener noreferrer"><%= linkedin %></a>
      </li>
      <% } %>
      <% if(peepeth != null) { %>
      <li class="profile__social--item profile__social--peepeth">
        <span class="profile__social--icon"><img src="/static-assets/img/peepeth.svg" onerror="this.src='/static-assets/img/peepeth.png';this.onerror=null;" itemprop="icon" class="peepeth-icon"></span>
        <a href="https://peepeth.com/<%= peepeth %>" target="_blank" rel="noopener noreferrer"><%= peepeth %></a>
      </li>
      <% } %>
      <% if(phone != null) { %>
      <li class="profile__social--item profile__social--phone">
        <span class="profile__social--icon"><i class="fas fa-phone"></i></span>
        <a href="tel:<%= phone %>" target="_blank" rel="noopener noreferrer"><%= phone %></a>
      </li>
      <% } %>
      <% if(telegram != null) { %>
      <li class="profile__social--item profile__social--telegram">
        <span class="profile__social--icon"><i class="fab fa-telegram"></i></span>
        <a href="https://t.me/<%= telegram %>" target="_blank" rel="noopener noreferrer"><%= telegram %></a>
      </li>
      <% } %>
      <% if(twitter != null) { %>
      <li class="profile__social--item profile__social--twitter">
        <span class="profile__social--icon"><i class="fab fa-twitter"></i></span>
        <a href="https://twitter.com/<%= twitter %>" target="_blank" rel="noopener noreferrer">@<%= twitter %></a>
      </li>
      <% } %>
      <% if(contentHash != null) { %>
      <li class="profile__social--item profile__social--url">
        <span class="profile__url--icon"><img src="/static-assets/img/hash.svg"
            onError="this.src='/static-assets/img/hash.png';this.onerror=null;"
            class="profile__url--icon-image"></span>
        <a href="<%= contentHash %>" target="_blank" rel="noopener noreferrer"><%= contentHash %></a>
        <% if(contentHashGateway != null) { %>
          &nbsp;(<a href="https://<%= contentHashGateway %>" target="_blank" rel="noopener noreferrer"><%= contentHashGateway %></a>)
        <% } %>

      </li>
      <% } %>
    </ul>
  </div>
</script>

<script type="text/template" id="template-portfolio-entry">
  <li class="profile__portfolio--item"<% if(image_type === 'image' || image_type === 'nonstandard') { %> style="background-image: url('<%= image_url %>');"<% } %>>
    <button type="button" id="open-nft-modal" class="btn profile__portfolio--button" data-nft-index="<%= index %>"
          onClick="window.ethxyz.loader.renderNftModal(this)">
      <span class="profile__portfolio--item-name"><%= name %></span>
      <% if(image_type == 'video') { %>
      <div class="video__background">
        <div class="video__foreground">
          <video autoPlay muted loop>
            <source src="<%= image_url %>" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <% } else if (image_type === '3d') { %>
      <div class="portfolio-image-3d__thumbnail">
        <model-viewer alt="" src="<%= image_url %>" class="portfolio-image-3d__model-viewer" auto-rotate="true" auto-play="true" camera-controls="true" ar-status="not-presenting"></model-viewer>
      </div>
      <% } %>
    </button>
  </li>
</script>

<script type="text/template" id="template-wallet-entry">
  <li class="profile__addresses--item" style="display: block">
    <button data-value="<%= address %>" class="profile__addresses--btn btn btn-link" onClick="copy(this)">
      <span class="profile__addresses--avatar" style="background-image: url('https://loremflickr.com/320/240/design?lock=9')"></span>
      <span>
        <span class="profile__addresses--name"><%= name.charAt(0).toUpperCase() + name.slice(1) %></span>
        <span class="profile__addresses--address">
          <span class="profile__addresses--address-text"><%= address %></span>
          <span class="btn btn-copy"><i class="far fa-copy"></i></span></span>
      </span>
    </button>
    <span class="notification-copied">Copied!</span>
  </li>
</script>

<script type="text/template" id="template-avatar">
  <img src="<%= avatar_url %>" onerror="this.src='<%= alt_avatar_url %>'"/>
</script>

<script type="text/template" id="template-nft-modal">
  <div class="nft-modal" id="nft-modal" role="dialog" aria-hidden="true">
    <div class="nft-modal__main">
      <div class="nft-modal__header">
        <h3 class="nft-modal__name"><%= name %></h3>
        <button type="button" class="btn btn__modal-close" onclick="window.ethxyz.loader.closeNftModal()"><i class="fas fa-times"></i></button>
      </div>
      <div id="nft-modal-image-container" class="nft-modal__image-container loading">
        <% if(image_type === 'video') { %>
        <div class="nft-modal__video-container">
          <div class="video__background">
            <div class="video__foreground">
              <video autoPlay controls playsinline controlslist="nodownload">
                <source src="<%= image_url %>" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
        <% } else if (image_type === '3d') { %>
          <model-viewer alt="" src="<%= image_url %>" class="image-3d__model-viewer" auto-rotate="true" auto-play="true" camera-controls="true" ar-status="not-presenting"></model-viewer>
        <% } else { %>
          <img src="<%= image_url %>" class="nft-modal__image" />
        <% } %>
      </div>
      <div class="nft-modal__text">
        <div class="nft-modal__description">
          <h4 class="nft-modal__heading-1">Description</h4>
          <p class="nft-modal__description--text"><%= description %></p>
        </div>
        <div class="nft-modal__credits">
          <% if(creator_username != null) { %>
          <div class="nft-modal__creator">
            <% if(creator_avatar != null) { %>
            <span class="nft-modal__creator-avatar"><img src="<%= creator_avatar %>" class="nft-modal__creator-avatar--image" /></span>
            <% } %>
            <div class="nft-modal__creator-info">
              <h5 class="nft-modal__heading-2">Created By</h5>
              <div class="nft-modal__creator-username">
                <p><%= creator_username %></p>
              </div>
            </div>
          </div>
          <% } %>
          <p><a href="<%= url %>" target="_blank" rel="noopener noreferrer" class="link__external">View on OpenSea<i class="fas fa-external-link-alt"></i></a></p>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn__modal-go-back" onclick="window.ethxyz.loader.closeNftModal()"><i class="fas fa-chevron-left"></i><span
      class="btn__modal-go-back__label">go back</span></button>
  </div>
</script>

<!-- Scripts -->
<!-- TODO: Figure out asset compilation / loading -->
{{--<script src="{{ asset('assets/app.js') }}"></script>--}}
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<script>
    window.ethxyz = {
      loader: new EthXyzLoader('{{ domainToLookup }}', true)
    }
</script>
<script src="/static-assets/js/main.js?v=1.0"></script>
</body>
</html>
