<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" class="no-js ie6 lt-ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
  <!--[if IE 7]>
<html lang="en" class="no-js ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
  <!--[if IE 8]>
<html lang="en" class="no-js ie8 lt-ie9 lt-ie10"> <![endif]-->
  <!--[if IE 9]>
<html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
  @if(env('GOOGLE_TAG_MANAGER_ID'))
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ env('GOOGLE_TAG_MANAGER_ID') }}');</script>
  <!-- End Google Tag Manager -->
  @end

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="true"/>

  <link rel="icon" type="image/png" href="/static-assets/img/favicon-32x32.png?v=1" sizes="32x32" />
  <link rel="icon" type="image/png" href="/static-assets/img/favicon-16x16.png?v=1" sizes="16x16" />

  <title>Privacy Policy / Eth.xyz</title>

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="/static-assets/css/lib/font-awesome/5.15.4/all.min.css"/>

  <link rel="stylesheet" href="./static-assets-about/css/style.css?v=1.1">


  <!-- FontAwesome JS -->
  <script src="/static-assets/js/lib/font-awesome/5.15.4/all.min.js"></script>

  <!-- Modernizr -->
  <script src="/static-assets/js/lib/modernizr.min.js?v=1.0"></script>
</head>
<body class="page page__index">
  @if(env('GOOGLE_TAG_MANAGER_ID'))
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ env('GOOGLE_TAG_MANAGER_ID') }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  @endif
  <header class="index__header">
    <div class="index__header--hero"></div>
    <div class="container">
      <div class="index__header--info">
        <div class="index__info">
          <h1 class="index__title">Eth.xyz</h1>
        </div>
      </div>
      <hr class="section__divider"/>
    </div>
  </header>
  <main>
    <div class="container">
      <section class="index__section">
        <h2 class="index__heading-1 text-color__slate-grey">Privacy Policy</h2>

        <p>Last updated: September 5, 2023</p>

        <p>ETH.XYZ is operated by Generation.XYC LLC ("we" or "us" or "our") and we value your privacy. When you visit this site, we only collect or process your information using Google Analytics as follows:</p>
      </section>

      <section class="index__section">
        <h3 class="index__section--heading">1. Information We Collect</h3>
        <p>We use Google Analytics to gain insights into how our visitors use our site. Google Analytics gathers data such as:</p>
        <ol type="a">
          <li>How you got to our website.</li>
          <li>The duration of your visit.</li>
          <li>The pages you viewed.</li>
          <li>General information about your device (like device type and browser version).</li>
          <li>Approximate geographical location data based on your IP address.</li>
        </ol>
        <p>No personally identifiable information (like your name or email address) is captured through Google Analytics.</p>
      </section>

      <section class="index__section">
        <h3 class="index__section--heading">2. How We Use the Information</h3>
        <p>We use the aggregated data from Google Analytics to:</p>
        <ol type="a">
          <li>Understand how visitors navigate our website.</li>
          <li>Identify areas of improvement.</li>
          <li>Compile aggregate statistics about site traffic and site interaction.</li>
        </ol>
      </section>

      <section class="index__section">
        <h3 class="index__section--heading">3. Cookies</h3>
        <p>Google Analytics uses cookies to gather data about our website’s traffic and interactions. A cookie is a small file that’s stored on your computer to help websites remember preferences or record your browsing activity. You can choose to disable cookies in your browser settings or use private browsing mode.</p>
      </section>

      <section class="index__section">
        <h3 class="index__section--heading">4. Opt-Out</h3>
        <p>You can opt-out of Google Analytics tracking by visiting the Google Analytics opt-out page and installing the add-on for your browser.</p>
      </section>

      <section class="index__section">
        <h3 class="index__section--heading">5. Changes to This Privacy Policy</h3>
        <p>From time to time, we may update our Privacy Policy. Any changes made will be reflected on this page, so we encourage you to periodically review our Privacy Policy.</p>
      </section>

      <section class="index__section">
        <h3 class="index__section--heading">6. Contact Us</h3>
        <p>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:hello@gen.xyz">hello@gen.xyz</a>.</p>
      </section>
    </div>
  </main>
  <footer class="site-footer">
    <section class="site-footer__section--disclaimer">
      <div class="container">
        <hr class="section__divider"/>
        <div class="site-footer__section--disclaimer-text">
          <p>Nothing on this page implies any endorsement or affiliation between <a href="https://xyz.xyz/"
            target="_blank"
            rel="noopener noreferrer">XYZ</a> or <a
            href="https://ens.domains/" target="_blank" rel="noopener noreferrer">ENS</a>. <a
            href="/privacy-policy">Privacy Policy</a></p>
        </div>
      </div>
    </section>
  </footer>
</body>
</html>
