<!DOCTYPE html>
<head>

</head>
<body>
  <main>
    <h1>Custom Domain Configuration</h1>
    <h2>Setup Instructions</h2>
    <ol>
      <li>
        Set your domain or subdomain's A records to
        <br />
        <pre>
54.151.118.210
54.176.22.34
        </pre>
      </li>
      <li>
        Submit your domain for SSL setup on our end.
        <form method="post" action="/setup/submit">
          <label for="domain">Domain</label>
          <input type="text" name="domain" id="domain" />
          <button type="submit">Submit</button>
        </form>
      </li>
      <li>Wait a few minutes</li>
    </ol>
  </main>


</body>
</html>
