<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" class="no-js ie6 lt-ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="true"/>

  <title>404 - Page Not found</title>

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="/static-assets/css/lib/font-awesome/5.15.4/all.min.css"/>

  <link rel="stylesheet" href="/static-assets/css/style.css?v=1.0">


  <!-- FontAwesome JS -->
  <script src="/static-assets/js/lib/font-awesome/5.15.4/all.min.js"></script>

  <!-- Modernizr -->
  <script src="/static-assets/js/lib/modernizr.min.js?v=1.0"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->


  <script src="http://underscorejs.org/underscore-umd-min.js"></script>
  <script src="/static-assets/loader.js"></script>
</head>
<body class="page page__404">
  <h1 class="page__404--heading1 profile__name text-center">404 &ndash; Page Not found</h1>
  <p class="text-center"><a href="http://eth.xyz/">Visit eth.xyz</a></p>
</body>
</html>
